<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaBoard_styET</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>



  <servlet>
   		<servlet-name>create_New_Thread</servlet-name>
    	<jsp-file>/create_New_Thread.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
    	<servlet-name>create_New_Thread</servlet-name>
    	<url-pattern>/create_New_Thread</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>create_Thread_Servlet</servlet-name>
    	<servlet-class>create_Thread_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>create_Thread_Servlet</servlet-name>
    	<url-pattern>/create_Thread_Servlet</url-pattern>
    </servlet-mapping>


</web-app>