<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaBoard_styET</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
 <!-- 0211 takeuchi -->
<servlet>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>thread.TopServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/TopServlet</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>createNewThread</servlet-name>
    <jsp-file>/WEB-INF/jsp/create_New_Thread.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>createNewThread</servlet-name>
    <url-pattern>/createNewThread</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>createThreadServlet</servlet-name>
    <servlet-class>thread.CreateThreadServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>createThreadServlet</servlet-name>
    <url-pattern>/createThreadServlet</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ViewThreadServlet</servlet-name>
    <servlet-class>thread.ViewThreadServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ViewThreadServlet</servlet-name>
    <url-pattern>/thread</url-pattern>
</servlet-mapping>



<servlet>
    <servlet-name>ThreadInfoServlet</servlet-name>
    <servlet-class>thread.ThreadInfoServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ThreadInfoServlet</servlet-name>
    <url-pattern>/ThreadInfoServlet</url-pattern>
</servlet-mapping>

<jsp-config>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/lib/jstl-api.jar</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
        <taglib-location>/WEB-INF/lib/jstl-api.jar</taglib-location>
    </taglib>
</jsp-config>

 <servlet>
        <servlet-name>CreatePostServlet</servlet-name>
        <servlet-class>thread.CreatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePostServlet</servlet-name>
        <url-pattern>/CreatePostServlet</url-pattern>
    </servlet-mapping>
    
    <!-- サーブレットの定義 -->
    <servlet>
        <servlet-name>ThreadSearchServlet</servlet-name>
        <servlet-class>thread.ThreadSearchServlet</servlet-class>
    </servlet>

    <!-- サーブレットの URL マッピング -->
    <servlet-mapping>
        <servlet-name>ThreadSearchServlet</servlet-name>
        <url-pattern>/thread/ThreadSearchServlet</url-pattern>
    </servlet-mapping>


	<servlet>
	    <servlet-name>LikeServlet</servlet-name>
	    <servlet-class>thread.LikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LikeServlet</servlet-name>
	    <url-pattern>/LikeServlet</url-pattern>
	</servlet-mapping>


</web-app>
